.gridcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
}
@media (max-width: 768px) {
    .gridcontainer {
    grid-template-columns: repeat(2, 1fr)
    }
}
.box{
    height:10rem;
    border: 2px rgb(187, 11, 11);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

.topic{
    font-family: "inter", sans-serif;
    font-size: 2rem;
    color:#164BAF;


}


.text{
    font-family: "inter", sans-serif;
    font-size: 1rem;

    

}