.imagesection{
  background-color: #F2F7FF;
  padding:40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  
}
.imagetext{
 
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 0 auto 32px auto; */
justify-content: center;
align-items: center;
}


.topic{
    font-family: "inter", sans-serif;
    font-size: 1.5rem;
    color:#164BAF;
    text-align: center;

}


.text{
    font-family: "inter", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    width: 750px; 

    margin: 0;
    /* max-width: 25ch; */
   
    

}

.container {
  /*padding: 20px;*/
  /* padding: 0 20px 20px 20px; */
  /* max-width: 960px; */
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
  text-align: center;
}



.grid {
  background-color: #F2F7FF;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {

  border-radius: 12px;
  transition: transform 0.2s ease;
  height: auto;
  border: 1px solid #ddd;
  background-color: #FFFFFF;

  padding-bottom: 14px;
}

.card figure {
  margin: 0;
}

.card img {
  width: 100%;
  height: 160px;             
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
}

.card figcaption {
  margin-top: 10px;
  font-family: "inter", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  color: #111;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #aaa;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}