.form-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  font-family: inter;
  align-items: flex-start;
}

.text-sect h2 {
  font-family: inter;
  font-size: 2rem;
  font-weight: 600;
  color: #164baf;
  margin-bottom: 16px;
  line-height: 1.3;
}

.text-sect p {
  font-family: inter;
  font-weight: 400;
  font-size: 0.95rem;
  width: 750px;
  color: #0f2a44;
  line-height: 1.6;
}

form {
  flex: 1;
  width: 100%;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.innerform-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.innerform-container p {
  margin-left: -5px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: inter;
  color: #acacac;
}

.input-label span {
  color: red;
}

.input-label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #222;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.inputs {
  width: 100%;
  height: 50px;
  padding: 15px 14px;
  border: 1.5px solid;
  border-radius: 6px;
  font-size: 0.9rem;
  color: #acacac;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s;
}

.inputs:focus {
  color: #1e5dd3;
  background-color: #f8fcff;
}

#message-input {
  height: 50px;
}

.button-container {
  margin-top: 20px;
}

.form-btn {
  background-color: #164baf;
  color: white;
  border: none;
  gap: 15px;
  padding: 12px 100px 12px 100px;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inter;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  transition: background 0.2s;
}

.form-btn:hover {
  background-color: #051540;
}

/*  CSS for mobile responsiveness */

@media (max-width: 768px) {
  .form-section {
    padding: 40px 2rem;
    margin: 80px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-sect h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-sect p {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
  }

  #message-input {
    padding:20px 15px 80px 15px;
  }

  .form-container {
    grid-template-columns: 1fr;
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-btn {
    background-color: #164baf;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

